h2{
color:#003580;
}
#duanluo{
color:#000033;
font-size:14px;
}
.f1{
color:#F00;
}
.f2{
color:#1F87CC;
}
.f3{
color:#FAA53B;
}
.f4{
color:#0D7114;
}
.pic1{
width:100px;
heigh:160px;
}
.pic2{
width:200px;
heigh:130px;
}